<!DOCTYPE html>
<html>

<!-- <body style="background-image: url('/static/images/veludo.jpeg');"> -->

<body class="login-bg">

    {% extends 'base/base.html' %}
    {% block content %}

    <link rel="stylesheet" href="static/css/account.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <div class="color-overlay">
        <!-- logo -->
        <div class="container">
            <img class="logo" src="/static/images/beauty-lounge-logo.png">

            <!-- form -->
            <form method="post">

                <!-- email -->
                <div class="line">
                    <input class="lg-input" type="text" placeholder="Email" name="email" required>
                    <i class="bi bi-person-fill input-icon"></i>
                </div>

                <!-- senha -->
                <div class="line">
                    <input class="lg-input" type="password" placeholder="Senha" name="password" required>
                    <i class="bi bi-key-fill input-icon"></i>
                </div>

                <!-- checkbox (lembrar senha) -->
                <div class="lg-checkbox">
                    <label for="remember-me"><input type="checkbox" id="remember-me" name="remember-me">Lembrar
                        senha</label>
                </div>

                <!-- botão login -->
                <button class="lg-button">LOG IN</button>

            </form>

            <p style="margin: 3rem 0 0">
                Iara Moraes <br>
                Massoterapia e Estética
            </p>
            <div style="font-size: 0.7rem">
                <p>
                    <i class="bi bi-instagram"></i>
                    @iarams.massoterapia
                </p>
            </div>
        </div>
    </div>

    {% endblock %}

</body>

</html>