/* PALLETE */

:root {
    --msu-green: #0F4037;
    --dark-green: #072620;
    --melon: #F2B6B6;
    --burnished-brown: #A66F79;
}


/* DEFAULT */

* {
    font-family: "Open Sans", sans-serif;
}

input[type=text], [type=password] {
    border-radius: 0.3rem;
    /* min-width: 100%; */
    padding: 0.5em;
}

button {
    border: none;
    border-radius: 0.3rem;
    /* min-width: 100%; */
    padding: 0.7em;

    font-weight: 600;
    background-color: var(--melon);
    cursor: pointer;

    color: white;
}


/* NOTIFICATION */

.notification {
    background-color: var(--melon);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 90%;
    /* display: inline; */
    position: absolute;
    z-index: 10;
    top: 0;
    /* left: 0; */
    box-sizing: border-box;
    margin: 1rem;
    transition: opacity 0.4s;
}

.notification.error {
    background-color: rgb(255, 106, 106)
}
.notification.warning {
    background-color: rgb(255, 245, 106)
}
.notification.success {
    background-color: rgb(106, 255, 118)
}

.notification .notification-message{
    float: left;
}

.notification-close-btn {
    line-height: 1rem;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
}